<div class="row">
    <!-- <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div> -->

<div class="container">

<h1>Githubpro</h1>
<div class="row">
    <img src="assets/jackie.jpg"style="height:300px;width:200px">
    <p>{{giti.githubUserName}}</p>
    <p>{{giti.repositories}}</p>
    <p>{{giti.biography}}</p>
    <p>{{giti.gits}}</p>
</div>
<!-- <ng-progress></ng-progress> -->
</div>