
#container1{
   
    margin-left:420px;
    /* border:2px solid black; */
    /* background-color:grey; */
    color:white;
    width:500px;
    /* border-radius:15px 15px; */
    font-size:20px;
}
.ten{
    width:100%;
    font-family:Serif;
    font-size:15px;
    width:100%;
    height:800px;
    background-image:url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
    background-size:cover;
    color:white;
    font-family:Serif;
   
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    font-size:20px;
    color: white;
    text-align: center;
 }
 .one{
    width:550px;
    height:200px;
    margin-left:350px;
    margin-top:0;
    padding-top:30px;
}