<div class="row">
    <!-- <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div> -->

<div class="container">

<h1>Githubpro</h1>
<div class="row">
    <img src="assets/jackie.jpg"style="height:300px;width:200px">
    <p>GithubUserName:{{giti.githubUserName}}</p>
    <p>Repositories:{{giti.repositories}}</p>
    <p>Biography:{{giti.biography}}</p>
    <p>Gits:{{giti.gits}}</p>
    <p>Followers:{{giti.followers}}</p>
    <p>Following:{{giti.following}}</p>
</div>
<!-- <ng-progress></ng-progress> -->
</div>